.wrapper {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .wrapper {
    animation: fadeIn 200ms ease forwards;
  }
}
